.toolbar{

    display:flex;

    justify-content:center;

    align-items:center;

    gap:15px;

    margin-bottom:30px;

    flex-wrap:wrap;

}

#pageNumber{

    font-size:22px;

    font-weight:bold;

    color:#444;

    min-width:120px;

    text-align:center;

}